@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Outfit&family=Titillium+Web:wght@200&family=Ubuntu:wght@300&display=swap');
body{
    background: linear-gradient(-45deg, #9e6804, #a8304a, #23a6d5, #e656eb);
animation: gradient 15s ease infinite;
background-size: 400% 400%;
overflow-y: hidden;
overflow-x: hidden;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#name{
    display: flex;
    font-family: 'Outfit', sans-serif;
    color: rgb(22, 7, 7);
    font-size: 8vh;
    align-items: center;
    justify-content: center;
}
.des{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-style: normal;
    color: burlywood;
    font-size: 2vh;
    z-index: 1000;
    
}
.hLine{
    opacity: 0.25;
}
.cardGroups{
    height: 12%;
    width:100%;
    display: flex;
    justify-items: center;
    justify-content: space-between;
   
    margin-bottom: 25px;
    cursor: pointer;
    
}
.buttonHeadText{
    display: inline-flexbox;
    font-size: 15px;
    font-weight: lighter;
margin-bottom: 4vw;
}
.buttonHeadText hr{
    opacity: 0.6;
}
.button{
    display: inline-flexbox;
    height: 30vh;
    width: 25vw;
    text-align: center;
    cursor: pointer;
    background-color: rgba(255, 248, 220, 0.445);
     border-radius: 12px;
     font-family: 'Anton', sans-serif; 
     font-size: 4vw;
     border-color: rgb(122, 130, 138);
     
     margin-top: 20%;
     color: rgb(22, 7, 7);
     box-shadow: 0 4px 8px rgb(100, 100, 99), 0 6px 20px rgb(22, 7, 7);
}

.liveTimer{
    display: flex;
    justify-content: center;
    font-size: 4vw;
} 

.head{
    background-color: rgba(184, 184, 221, 0.082);
    border-radius: 12px;
    border: 0.1px solid rgba(245, 222, 179, 0.068);
}

.selection{
    color: aliceblue;
    position: relative;
   width: fit-content;
   margin-top: 2%;
   left: 30%;
}

.selection-options{
    display: inline-flex;
    margin-top: 12px;
    font-family: 'Anton', sans-serif
    
   
}
.sub-button{
    display: flex;
    justify-content: center;
    margin-top: 7px;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;   
}

#sel-1{
    padding-right: 12px;
}
#sel-2{
    padding-right: 12px;
}
#sel-3{
    padding-right: 10px;
}

#time-selection-button{
    background-color: #99be13;
    border-color: aliceblue;
    opacity: 0.9;
    font-family: 'Outfit', sans-serif; 
    height: 24px;
    width: 68px;
    border-radius: 12px;
    cursor: pointer;
}

.input-time{
    border: #cad1ca;
    border-radius: 7px;
    margin-left: 3px;
   width:35px;
   margin-right: 3px;
}
.input-time:focus{
    border: #e0cfd3;
}

